main {
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
}
ul.nav-tabs{
    padding: 5px 0 0 5px;
    margin: 0px !important;
    border-radius: 5px 5px 0 0;
    background-color: rgba(219, 219, 219, 0.5);
}
.tab-content{
    padding: 5px 0 0 5px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(219, 219, 219, 0.5);
}