html,
body {
    background-image: url('./images/mainpagebg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

main {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    margin-top: 100px;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 80%;
    padding-left: 10%;
}