html,
body {
    background-image: url('./images/mainpagebg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
nav{
    margin-bottom: 24px;
}
main {
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 100px;
}
img{
    max-height: 100%;
    height: auto;
}
.img-wrapper{
    height: 600px;
}
.img-wrapper-medium{
    height: 350px;
    width: auto;
    display: flex;
}
.img-no-photo{
    margin: auto;
}